body {
    min-width: 550px;
}

.snorlax {
    --snorlax-timeline-color: #dedede;
    --snorlax-timeline-circle-color: #808080;
    --snorlax-timeline-circle-border-color: #707070;
    --snorlax-timeline-indicator-color: var(--bs-white);
    --snorlax-timeline-circle-size: 64px;
    --snorlax-timeline-circle-offset-left: 32px;
    --snorlax-timeline-circle-offset-top: 72px;
    --snorlax-timeline-circle-border-size: 4px;

    margin-left: 4px;
}

.snorlax-text-color {
    color: #3f3f3f;
}

.snorlax .timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.snorlax .timeline-summary-text {
    font-size: .85rem;
    color: #4f4f4f;
}

.snorlax .timeline-summary-text > a {
    color: #4f4f4f;
}

/** TIMELINE: LINE */
.snorlax .timeline .timeline-line {
    background-color: #dedede;
    top: 0;
    bottom: 0;
    content: "";
    left: 32px;
    margin-left: 0px;
    position: absolute;
    width: 4px;
}

/** TIMELINE: ITEM */
.snorlax .timeline > .timeline-item {
    margin: 0;
    padding: 0;
    position: relative;
}

/** TIMELINE: CIRCLE */
.snorlax .timeline .timeline-circle {
    color: #f0f0f0;
    border: 2px solid #707070;
    border-radius: 50%;
    content: "";
    width: 48px;
    height: 48px;
    left: 8px;
    position: absolute;
    top: 48px;
    z-index: 1;
    background-size: 44px 44px;
}

/** TIMELINE: BAR */
.snorlax .timeline > .timeline-item .timeline-bar {
    height: 3px;
    margin-top: 3px;
    margin-bottom: 12px;
    border-radius: 1px;
}

/** TIMELINE: BODY */
.snorlax .timeline > .timeline-item .timeline-body {
    margin:0;
    padding:0;
    position:relative;
    width: 500px;
}

/** TIMELINE: META */
.snorlax .timeline > .timeline-item .timeline-meta {
    padding: 40px 0 0 68px;
    font-size: .8rem;
}

/** TIMELINE: CONTENT */
.snorlax .timeline > .timeline-item .timeline-content {
    padding-left: 72px;
}

/** TIMELINE: CONTENT: SUBJECT */
.snorlax .timeline > .timeline-item .timeline-content hr {
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.snorlax .timeline > .timeline-item .timeline-content h4  {
    font-size: 1rem;
    color: #3f3f3f;
}

.snorlax .timeline > .timeline-item .timeline-content h5  {
    font-size: .85rem;
    color: #3f3f3f;
}

.snorlax .timeline > .timeline-item .timeline-content .h5  {
    font-size: .85rem;
    color: #3f3f3f;
}

/** TIMELINE: CONTENT: SUMMARY */
.snorlax .timeline .timeline-content .timeline-summary {
    list-style: none;
    padding-left: 4px;
    margin-bottom: 12px;
    font-size: .85rem;
    font-weight: 700;
}

/** TIMELINE: CONTENT: ROW */
.snorlax .timeline .timeline-content div.row {
    font-size: .85rem;
    margin-left: 8px;
    margin-right: 4px;
}

/** TIMELINE: CONTENT: COL */
.snorlax .timeline .timeline-content div.col {
    margin: 0px;
    padding: 0px;
}

/** TIMELINE: CONTENT: IMAGE */
.snorlax .timeline .timeline-content img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-left: 4px;
    margin-right: 4px;
    border-width: 1px;
    border-style: solid;
}

@media(min-width:576px) {
    /** TIMELINE: LINE */
    .snorlax .timeline .timeline-line {
        background-color: #dedede;
        top: 0;
        bottom: 0;
        content: "";
        left: 32px;
        margin-left: 0px;
        position: absolute;
        width: 4px;
    }
    
    /** TIMELINE: BAR */
    .snorlax .timeline > .timeline-item .timeline-bar {
        height: 3px;
        margin-top: 3px;
        margin-bottom: 12px;
        border-radius: 1px;
    }
}

/* 
@media(min-width:768px) {

}
@media(min-width:992px) {

}

@media(min-width:1200px) {

}

@media(min-width:1400px) {

}

@media(min-width:768px) {
    .snorlax .timeline .timeline-line {
        left: 25%;
    }
    .snorlax .timeline > .timeline-item {
        left:25%;
        width:75%;
    }
    
    .snorlax .timeline > .timeline-item .timeline-meta { 
        display: flex;
        justify-content: flex-end;
        left: -100%;
        margin: 0;
        padding: 0 2.5rem 0 0;
        position: absolute;
        top: calc(var(--snorlax-timeline-circle-offset-top) + 18px);
        width: 100%;
        z-index: 1;
    }
    
    .snorlax .timeline > .timeline-item:first-child .timeline-meta {
        padding: 0 2.5rem 0 0;
    }
    
    .snorlax .timeline > .timeline-item .timeline-content {
        padding: 6rem 2.5rem 2.5rem 2.5rem;
    }
    
    .snorlax .timeline > .timeline-item .timeline-indicator {
        position: relative;
    }
} */
